extends layout 

block content 
    div.header_container
        div.search_banner
            img(src="images/Magilogo.png", alt="", style="margin-left: 18%;")
            input(type="text" name="username" placeholder="Enter text" style="background: none; border: 0px;")
            p(style="margin-left: 24%;") |
            button(type=button) Advanced 
            button(type=button) Syntax 
            button(type=button) Sets 
            button(type=button) Random 
            p(style="margin-left: 2%;") |

    .full_center-container
        .full_view_card 
            img(src="images/Prof_Cards/Niv-Mizzet, Parun (Doc-Gargac, Parun).png", alt="")
        
            .full_card_info
                div.full_card_info_header(style="border-bottom: 1px solid black; align-items: center")
                    p 
                        | #{cardName}
                        - const chars = manaCost.replace(/{|}/g, '').split('');
                        span.full_card_info_mana(style="display: inline;")
                            each char in chars
                                - const manaValueString = "images/Game_Symbols/" + char + ".png";
                                img(src=manaValueString, alt="", style="display: inline; height: 16px; width: 16px; margin: 0px; margin-left: 2px;")
                div.full_card_info_type(style="border-bottom: 1px solid black")
                    p #{cardType}
                div.full_card_info_oracle(style="border-bottom: 1px solid black")
                    each line in oracleText
                        - var findBraces = line.match(/\{.*?\}/g) || []
                        - var modifiedLine = line
                        each match in findBraces
                            - var extractedBraces = match || ''
                            - var inner = extractedBraces.slice(1, -1)
                            - var replacement = ''
                            each char in match
                                - if(char !== '{' && char !== '}') 
                                    - var manaValueString = "images/Game_Symbols/" + char + ".png"
                                    - replacement += `<img src="${manaValueString}" alt="${char}" style="display: inline; height: 16px; width: 16px; margin: 0px; margin-left: 2px;">`
                            - modifiedLine = modifiedLine.replace(match, replacement)
                        p!= modifiedLine
                    p(style="font-style: italic") #{flavorText}
                div.full_card_info_powerAndToughness
                    p(style="border-bottom: 1px solid black; margin-top: 0px") #{power}/#{toughness}
                .full_card_info_provider 
                    p(style="border-bottom: 1px solid black; margin-top: 0px") Provided by ACM/ASME

            .full_set_info
                p(style="margin-top: 10px; font-size: 20px;") MagiProf: Series 1
                p(style="margin-bottom: 10px; font-size: 10px;") V1 - #{rarity} - English - #{printing}
                img(src="images/MagiIcon.png" alt="" style="position: absolute; top: 0;")

    script.
        const lineCount = #{oracleText.length};
        for (let i = 0; i < lineCount; i++) {
            const el = document.getElementById(`oracle-${i}`);
            if (el) {
                const chars = manaCost.replace(/{|}/g, '').split('');
            }
        }

    //- div.footer_container 
    //-     div.footer

