extends layout

block content
  div.container

    div.sort_banner

    div.result_banner
      
  div.full_screen
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")
    img(src=card, alt="")

  div.pagination
    a(href="/cards-page2") Previous
    a(href="/cards-page4") Next
