extends layout

block content
  div.container
    div.search_banner 
      img(src="images/Magilogo.png", alt="", style="margin-left: 18%;")
      input(type="text" name="username" placeholder="Enter text" style="background: none; border: 0px; position: relative; top: -40%;")

    div.sort_banner

    div.result_banner
      
      
  div.full_screen
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")
      img(src=card, alt="")


